:root {
    --color-background: #0d1117;
    --color-foreground: #161b22;
    --color-border: #30363d;
    --color-text: #c9d1d9;
    --color-sub-text: #8b949e;
    --color-link: #58a6ff;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-link);
}

a:visited {
    color: var(--color-link);
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    max-width: 60vw;
    padding: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: .30em;
    background-color: var(--color-foreground);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.651);
    box-sizing: border-box;
    border: 1px solid var(--color-border);
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: .2em;
    border-bottom: 1px solid var(--color-border);
}

.card-header-center {
    margin: 0 3em 0 3em;
    font-weight: bold;
}

/*.card-header > div {
    margin: 0 1em 0 1em;
}*/

.card-body {
    margin-top: 1em;
    color: var(--color-sub-text);
}

.card-footer {
    text-align: center;
    margin-top: 1em;
    color: var(--color-sub-text);
}

.card-footer>p {
    font-weight: bold;
    color: var(--color-text);
}

@media (max-width: 800px) {
    .card {
        width: 100%;
        max-width: 90vw;
    }
}