<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Facebook Scraper Output</title>
</head>

<body>
    <div class="container">
        {% for post in posts %}
        <div class="card">
            <div class="card-header">
                <div class="card-header-left">{{ post.group_id }}</div>
                <div class="card-header-middle">{{ post.date }}</div>
                <div class="card-header-right"><a href="{{ post.post_url }}" target="_blank">Post Link</a></div>
            </div>

            <div class="card-body">
                {{ post.text }}
            </div>

            <div class="card-footer">
                <p>Keywords matched:</p>
                    
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>