body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(78, 78, 78, 0.2);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #0000EE;
}

a:visited {
    color: #0000EE;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    max-width: 60vw;
    padding: 2em;
    margin-bottom: 3em;
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


    box-sizing: border-box;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-header-left {
    font-weight: bold;
}

.card-body {
    margin-top: 1em;
}

.card-footer {
    text-align: center;
    margin-top: 1em;
}

.card-footer>p {
    font-weight: bold;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        max-width: 90vw;
    }
}